* text=auto
gradlew text eol=lf
gradlew.bat text eol=crlf
*.java text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.txt text eol=lf
LICENSE -text
Apache-2.0.txt -text
.gitignore text eol=lf
.gitattributes text eol=lf
*.jar binary
*.png binary

*.kt text eol=lf
